@import "src/common/styles/sass/variables";

.skill {
  width: 200px;
  background-color: $bgSecondColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  background: $primaryColor;
  transform: rotate(45deg);

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    height: 100%;
  }
}

.title {
  font-family: $titleFontFamily;
  color: $textColorForLight;
}