.skill {
    width: 200px;
    background-color: #ffb2b2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.icon {
    height: 60px;
    width: 60px;
    background-color: #c6c6ff;
}
.title {

}
.description {

}