@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";


.skill {
  margin-top: 60px;
  @include flex(column, center, center, nowrap);
  width: 200px;
  background-color: $bgSecondColor;
}

.square {
  width: 80px;
  height: 80px;
  background: $primaryColor;
  transform: rotate(45deg);

  .icon {
    @include flex(row, center, center, nowrap);
    transform: rotate(-45deg);
    height: 100%;
  }
}

.title {
  margin-top: 25px;
  text-align: center;
  font-family: $titleFontFamily;
  color: $textColorForLight;
}