@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";


.projectBlock {
  /*min-height: 100vh;*/
  background-color: $bgColor;
  padding: 100px 0;

  .projectContainer {
    @include container();
    @include flex(row, center, flex-start, wrap);

    .projects {
      @include flex(row, space-between, flex-start, wrap);
      font-family: $textFontFamily;
      font-size: $textSize;
      width: 100%;
      margin-top: 30px;
      text-align: center;
      @media screen and (max-width: 1141px) {
        justify-content: center;
      }
      //@media screen and (min-width: 1009px) {
      //  justify-content: space-between;
      //}
    }
  }
}
