.projectBlock {
    min-height: 100vh;
    background-color: #d5ffb9;
}

.projectContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #92fce2;
    color: black;
}

.projects {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}