@import "src/common/styles/sass/variables";

.projectBlock {
  /*min-height: 100vh;*/
  background-color: $bgColor;
  padding: 100px 0;

  .projectContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 30px;
      @media screen and (max-width: 1008px) {
        justify-content: center;

      }
    }
  }
}
