@import "src/common/styles/sass/variables";

.mainBlock {
  height: 100vh;
  background-color: $bgColor;

  .greetings {
    width: 200px;
    background-color: $bgColor;
    font-family: $textFontFamily;
    color: $textColorForDark;
  }

  .photo {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 1%;
  }
}


