@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";

.skillBlock {
  background-color: $bgSecondColor;

  .skillContainer {
    padding: 70px 24px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .skills {
      @include flex(row, space-between, flex-start, wrap);
      margin-top: 60px;
      width: 100%;
      font-family: $textFontFamily;
      font-size: $textSize;
      @media screen and (max-width: 503px) {
        .skills {
          justify-content: center;
        }
      }
    }
  }
}


