@import "src/common/styles/sass/variables";

.skillBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .skillContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .skills {
      border: 1px solid black;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-family: $textFontFamily;
      font-size: $textSize;
      @media screen and (max-width: 503px) {
        .skills {
          justify-content: center;
        }
      }
    }
  }
}


