@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";

.skillsBlock {
  background-color: $bgSecondColor;

  .skillsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
    padding: 70px 24px;

    .skills {
      @include flex(row, space-between, flex-start, wrap);
      @include text($textFontFamily, $textSize, 1em, $textColorForLight);
      margin-top: 60px;
      width: 100%;
      line-height: 1.2;
      @media screen and (max-width: 575px) {
        justify-content: center;
      }
    }
  }
}


