@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";


.aboutBlock {
  height: 100vh;
  position: relative;
  //background-color: $bgColor;

  .aboutContainer {
    @include container();
    @include flex(row, space-around, center, wrap);
    min-height: 100%;

    .greetings {
      width: 300px;
      //background-color: $bgColor;
      font-family: $textFontFamily;
      font-size: 30px;
      line-height: 180%;
      color: $textColorForDark;
    }

    .photo {
      width: 400px;
      height: 500px;
      background-size: cover;
      background-position: center;
      animation: morph 8s ease-in-out 1s infinite;
      background-blend-mode: multiply;
      box-shadow: inset 0 0 0 9px rgba(41, 72, 97, 0.81);
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      overflow: hidden;
    }
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
