.project {
    width: 400px;
    background-color: rgba(108, 189, 255, 0.49);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    flex-wrap: wrap;
}

.projectPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 200px;
}

.projectRef {
    border: 1px solid black;
    font-size: larger;
    width: 60px;
}

a:link {
    text-decoration: none;
}
.textProjectBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.title {
}

.description {

}