@import "../../common/styles/sass/variables";
@import "src/common/styles/sass/mixin";


.footerBlock {
  min-height: 150px;
  background-color: $bgColor;

  .container {
    padding: 15px 0;
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .title {
      font-family: $textFontFamily;
      font-size: 26px;
      color: $textColorForDark;
      line-height: 90%;
    }

    .socialIcons {
      margin-top: 15px;
      width: 250px;
      @include flex(raw, space-between, center, nowrap);

      .socialIcon {
        a {
          @include flex(row, center, center, nowrap);
        }

        @include flex(raw, center, center, nowrap);
        width: 50px;
        height: 50px;
        background-color: $primaryColor;

        //border: 1px solid transparent;
        transition: all 0.3s ease-in-out 0s;

        //&:hover {
        //  border: 1px solid $textColorForDark;
        //
        //}
      }
    }

    .rights {
      margin-top: 15px;
      font-family: $textFontFamily;
      font-size: 15px;
      color: $textColorForDark;
    }
  }
}



