
.App {
    /*border: 1px solid black;*/
}
::-webkit-scrollbar{
  width: 14px;
}
::-webkit-scrollbar-track{
  background: #254661;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 224, 0.72);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(rgba(107, 133, 158, 0.97), #a4b5c1);
}
