@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";

.contactsBlock {
  background-color: $bgSecondColor;
  padding: 50px 0;


  .contactsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);


    .title {

    }

    .form {
      @include flex(column, flex-start, center, nowrap);
      width: 50%;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $textColorForLight;
      -webkit-box-shadow: 0 0 1000px 1000px $bgSecondColor inset;
    }

    .contactsContainer textarea {
      color: #ffffff;
    }

    .mUIInput {
      width: 100%;
    }

    .mUITextarea {
      width: 100%;
    }

    .label {
      color: $textColorForLight !important;
    }

    .terms {
      width: 100px;
      height: 80px;
      @include flex(raw, center, center, nowrap);

    }

    .button {
      border: none;
      background: $bgColor;
      cursor: pointer;
      padding: 20px 30px;
      border-radius: 2px;
      transition: all 0.5s;
      @include text($titleFontFamily, 14pt, .1rem, $textColorForDark);
    }

    .button.disabled{
      background: #a4b5c1;
      @include text($titleFontFamily, 16pt, .1rem, $textColorForDark);
    }

    .button:hover {
      background: $primaryColor;
      color: $textColorForDark;
    }

    @media screen and (max-width: 430px) {
      .form {
        width: 90%;
      }
    }
  }
}





